@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --primary-txt-clr: #341931;
  --bg: #ffffff;
  --sec-bg: #341931;
  --foreground: var(--bg);
  --background: var(--sec-bg);
  --lys: var(--foreground);
  --mørk: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --lys: var(--background);
    --mørk: var(--foreground);
  }
}
body {
  font-family: var(--font-poppins);
  background-color: var(--lys);
  color: var(--mørk);
}
/* =====================
   layers and themes
   ===================== */
@layer base {
}
@layer components {
  .iyyiy {
    @apply flex flex-col items-center justify-center gap-4;
  }
}
@layer utilities {
}

.flex-center {
  @apply flex items-center justify-center text-left;
}

@theme {
  --font-poppins: "Poppins";
  --color-txt-primary: #341931;
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-base: 15px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;
  --font-size-3xl: 36px;
  --font-size-4xl: 48px;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #341931;
}
@theme inline {
  --color-background: var(--lys);
  --color-foreground: var(--mørk);
}
